.dashboard {
  padding: 1rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 1rem;
}

.lights {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem);
  grid-gap: 1rem;
}
