*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* TrafficLightController */
.dashboard {
  padding: 1rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 1rem;
}

.lights {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 7rem);
  grid-gap: 1rem;
}

/* TrafficLight */
.traffic-light {
  display: block;
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 1rem;

  list-style: none;
}

.traffic-light > * + * {
  margin-top: 0.5rem;
}

.traffic-light__bulb {
  display: block;
  padding-top: 100%;
  border-radius: 100%;
  background-color: lightgray;
}

.traffic-light__bulb--red {
  background-color: #f56565;
}

.traffic-light__bulb--amber {
  background-color: #f6ad55;
}

.traffic-light__bulb--green {
  background-color: #48bb78;
}

.traffic-light__bulb[data-state="off"] {
  background-color: darkgray;
}

.traffic-light__action {
  text-align: center;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
