:root {
  --color-frame: #e4e4e4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #222;
  line-height: 1.5;
}

button {
  line-height: inherit;
  color: inherit;
}

button {
  appearance: none;
  color: blueviolet;
  background-color: #f9f3ff;
  font-size: 0.75rem;
  border: 1px solid currentcolor;
  line-height: 2;
  border-radius: 2000px;
  padding: 0 1em;
}

button:active {
  opacity: 0.8;
}

button[disabled] {
  color: #888;
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  cursor: not-allowed;
}

button[data-action-type="danger"] {
  color: firebrick;
  background-color: #ffeaea;
}

/* TrafficLightController */
.dashboard {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.controls > * + * {
  margin-left: 1rem;
}

.section {
  padding: 1rem;
  border: 1px solid var(--color-frame);
  border-radius: 0.5rem;
}

.section--compact {
  justify-self: start;
}

.section > * + * {
  margin-top: 1rem;
}

.lights {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

/* TrafficLight */
.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light__frame {
  display: grid;
  grid-template-columns: 3rem;
  grid-template-rows: 3rem;
  background-color: var(--color-frame);
  border-radius: 200px;
  padding: 1rem;
  list-style: none;
}

.traffic-light__frame > * + * {
  margin-top: 0.5rem;
}

.traffic-light__frame > li {
  text-align: center;
}

.traffic-light__bulb {
  display: block;
  padding-top: 100%;
  border-radius: 100%;
  background-color: var(--color-frame);
}

.traffic-light__bulb--red {
  background-color: #f56565;
}

.traffic-light__bulb--amber {
  background-color: #f6ad55;
}

.traffic-light__bulb--green {
  background-color: #48bb78;
}

.traffic-light__bulb[data-state="off"] {
  background-color: darkgray;
}

.traffic-light__display {
  position: relative;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid var(--color-frame);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.traffic-light__display > * {
  text-align: center;
  align-self: stretch;
  padding: 0.5rem;
}

.traffic-light__display > * + * {
  border-top: 1px solid var(--color-frame);
}

.traffic-light__display::before {
  position: absolute;
  content: "";
  width: 0.25rem;
  height: 1.125rem;
  background-color: var(--color-frame);
  top: -1.125rem;
}

.traffic-light__meta {
  display: block;
  padding: 0.25rem;
  background-color: white;
  border-radius: 0.25rem;
}

/* Utilities */
.font-xs {
  font-size: 0.75rem;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

.font-caps {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.0625em;
}

.text-light {
  color: #666;
}

.break-words {
  overflow-wrap: break-word;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
