.traffic-light {
  display: block;
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 1rem;

  list-style: none;
}

.traffic-light__bulb {
  display: block;
  padding-top: 100%;
  border-radius: 100%;
  background-color: lightgray;
}

.traffic-light__bulb + .traffic-light__bulb {
  margin-top: 0.5rem;
}

.traffic-light__bulb--red {
  background-color: #e53e3e;
}

.traffic-light__bulb--amber {
  background-color: #d69e2e;
}

.traffic-light__bulb--green {
  background-color: #38a169;
}

.traffic-light__bulb[data-state="off"] {
  background-color: darkgray;
}
